ECommerce/Service References/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ventasservice.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ventasservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ventasservice.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticulos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArticulosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetArticulosResult" type="tns:ArrayOfArticuloDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArticuloDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArticuloDTO" nillable="true" type="tns:ArticuloDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArticuloDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecioVenta" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecioCompra" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Stock" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:ClienteDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClienteDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contraseña" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Filtrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FiltrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FiltrarResult" type="tns:ArrayOfArticuloDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Registro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistroResult" type="tns:ClienteDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getArticuloDTO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getArticuloDTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getArticuloDTOResult" type="tns:ArticuloDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="traerDatosUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="traerDatosUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="traerDatosUsuarioResult" type="tns:ArrayOfClienteDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClienteDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClienteDTO" nillable="true" type="tns:ClienteDTO" />
        </s:sequence>
      </s:complexType>
      <s:element name="actualizarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:ClienteDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="nuevaVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idcliente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="articuloscomprados" type="tns:ArrayOfArticuloDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nuevaVentaResponse">
        <s:complexType />
      </s:element>
      <s:element name="verMisCompras">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idcliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verMisComprasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verMisComprasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="articulo" type="tns:ArticuloDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarStockResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetArticulosSoapIn">
    <wsdl:part name="parameters" element="tns:GetArticulos" />
  </wsdl:message>
  <wsdl:message name="GetArticulosSoapOut">
    <wsdl:part name="parameters" element="tns:GetArticulosResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="FiltrarSoapIn">
    <wsdl:part name="parameters" element="tns:Filtrar" />
  </wsdl:message>
  <wsdl:message name="FiltrarSoapOut">
    <wsdl:part name="parameters" element="tns:FiltrarResponse" />
  </wsdl:message>
  <wsdl:message name="RegistroSoapIn">
    <wsdl:part name="parameters" element="tns:Registro" />
  </wsdl:message>
  <wsdl:message name="RegistroSoapOut">
    <wsdl:part name="parameters" element="tns:RegistroResponse" />
  </wsdl:message>
  <wsdl:message name="getArticuloDTOSoapIn">
    <wsdl:part name="parameters" element="tns:getArticuloDTO" />
  </wsdl:message>
  <wsdl:message name="getArticuloDTOSoapOut">
    <wsdl:part name="parameters" element="tns:getArticuloDTOResponse" />
  </wsdl:message>
  <wsdl:message name="traerDatosUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:traerDatosUsuario" />
  </wsdl:message>
  <wsdl:message name="traerDatosUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:traerDatosUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarCliente" />
  </wsdl:message>
  <wsdl:message name="actualizarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="nuevaVentaSoapIn">
    <wsdl:part name="parameters" element="tns:nuevaVenta" />
  </wsdl:message>
  <wsdl:message name="nuevaVentaSoapOut">
    <wsdl:part name="parameters" element="tns:nuevaVentaResponse" />
  </wsdl:message>
  <wsdl:message name="verMisComprasSoapIn">
    <wsdl:part name="parameters" element="tns:verMisCompras" />
  </wsdl:message>
  <wsdl:message name="verMisComprasSoapOut">
    <wsdl:part name="parameters" element="tns:verMisComprasResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarStockSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarStock" />
  </wsdl:message>
  <wsdl:message name="actualizarStockSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarStockResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetArticulos">
      <wsdl:input message="tns:GetArticulosSoapIn" />
      <wsdl:output message="tns:GetArticulosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Filtrar">
      <wsdl:input message="tns:FiltrarSoapIn" />
      <wsdl:output message="tns:FiltrarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Registro">
      <wsdl:input message="tns:RegistroSoapIn" />
      <wsdl:output message="tns:RegistroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getArticuloDTO">
      <wsdl:input message="tns:getArticuloDTOSoapIn" />
      <wsdl:output message="tns:getArticuloDTOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="traerDatosUsuario">
      <wsdl:input message="tns:traerDatosUsuarioSoapIn" />
      <wsdl:output message="tns:traerDatosUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <wsdl:input message="tns:actualizarClienteSoapIn" />
      <wsdl:output message="tns:actualizarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="nuevaVenta">
      <wsdl:input message="tns:nuevaVentaSoapIn" />
      <wsdl:output message="tns:nuevaVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verMisCompras">
      <wsdl:input message="tns:verMisComprasSoapIn" />
      <wsdl:output message="tns:verMisComprasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarStock">
      <wsdl:input message="tns:actualizarStockSoapIn" />
      <wsdl:output message="tns:actualizarStockSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://ventasservice.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticulos">
      <soap:operation soapAction="http://ventasservice.org/GetArticulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://ventasservice.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Filtrar">
      <soap:operation soapAction="http://ventasservice.org/Filtrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registro">
      <soap:operation soapAction="http://ventasservice.org/Registro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArticuloDTO">
      <soap:operation soapAction="http://ventasservice.org/getArticuloDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traerDatosUsuario">
      <soap:operation soapAction="http://ventasservice.org/traerDatosUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <soap:operation soapAction="http://ventasservice.org/actualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nuevaVenta">
      <soap:operation soapAction="http://ventasservice.org/nuevaVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verMisCompras">
      <soap:operation soapAction="http://ventasservice.org/verMisCompras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarStock">
      <soap:operation soapAction="http://ventasservice.org/actualizarStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://ventasservice.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticulos">
      <soap12:operation soapAction="http://ventasservice.org/GetArticulos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://ventasservice.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Filtrar">
      <soap12:operation soapAction="http://ventasservice.org/Filtrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registro">
      <soap12:operation soapAction="http://ventasservice.org/Registro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArticuloDTO">
      <soap12:operation soapAction="http://ventasservice.org/getArticuloDTO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traerDatosUsuario">
      <soap12:operation soapAction="http://ventasservice.org/traerDatosUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <soap12:operation soapAction="http://ventasservice.org/actualizarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nuevaVenta">
      <soap12:operation soapAction="http://ventasservice.org/nuevaVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verMisCompras">
      <soap12:operation soapAction="http://ventasservice.org/verMisCompras" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarStock">
      <soap12:operation soapAction="http://ventasservice.org/actualizarStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:49887/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:49887/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>